<div class="section full-height">
  <div class="container">
    <app-navbar></app-navbar>
    <div class="row full-height justify-content-center">
      <div class="col-12 text-center align-self-center py-5">
        <div class="section pb-5 pt-5 pt-sm-2 text-center">
          <div class="card-3d-wrap mx-auto">
            <div class="card-3d-wrapper">
              <div class="card-front">
                <div class="center-wrap">
                  <div class="section text-center">
                    <a routerLink="/Transfer/add-payee/{{sessionId}}" class="btn mt-4 d-block pt-2">Add Payee</a>
                    <a routerLink="/Transfer/manage-payee/{{sessionId}}" class="btn mt-4 d-block pt-2">Manage Payee</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
