<div class="navigation-wrap bg-light start-header start-style">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-md navbar-light">
          <a class="navbar-brand" routerLink="/dashboard/{{sessionId}}"><img
              src="https://assets.codepen.io/1462889/fcy.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto py-4 py-md-0 nav-fill w-100">
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <input class="dropdown" type="checkbox" id="dropdown" name="dropdown" />
                <label class="for-dropdown nav-link"  for="dropdown" id="dd">Transfer<i class="uil uil-arrow-down"></i></label>
                <div class="section-dropdown">
                  <a class="nav-item" id="dd" routerLink="/Transfer/{{sessionId}}">Make Payment<i class="uil uil-arrow-right"></i></a>
                  <a class="nav-item" id="dd" routerLink="/Transfer/add-payee/{{sessionId}}" >Add Payee<i class="uil uil-arrow-right"></i></a>
                  <a class="nav-item" id="dd" routerLink="/Transfer/manage-payee/{{sessionId}}">Manage Payee<i class="uil uil-arrow-right"></i></a>
                </div>
              </li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" routerLink="/Deposit/{{sessionId}}">Deposit</a>
              </li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" routerLink="/Withdraw/{{sessionId}}">Withdraw</a>
              </li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" routerLink="/MiniStatement/{{sessionId}}">MiniStatement</a>
              </li>
              <li>
                <button class="btn td-btn small outline" routerLink="">Log Out</button>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>